body{
	font-family: 'Open Sans',sans-serif;
	background-color: black;
}
#heading{
margin-bottom: 0px;
padding-bottom: 0px;
padding-top: 20px;
padding-left: 50px;
position: relative;
font-size:22px;
color: rgb(26, 22, 22);
	
}
#heading2{
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 4px;
	padding-left: 65px;
	position: relative;
	font-size:15px;
	color: white;
	}
	span{
		background-color: #3461b4;	
	}
#container{
	width: 650px;
	height: 693px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bg78.png);
	margin: 60px auto;	
}
#calculator{
	width: 260px;
	height: 530px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 25px;
	position: relative;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#date
{
	text-align: right;
	font-family: monospace;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 30px;
	height: 30px;
	margin: 10px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: normal;
	font-size: 15px;
}
.operator{
	color: rgb(170, 41, 41);
}
.number, .empty{
	background-color: #7a7e80;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 15px;
	color:#008000
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(13){
	font-size: 16px;
	
}
button:nth-child(35){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(13){
	color: rgb(238, 31, 31);
	font-size: 10px;
	background-color: #f09191;
	font-weight: bold;
}
button:nth-child(12){
	border-radius: 80%;
	font-size: 15px;
	background-color: #58b958;
}
button:nth-child(32){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(34){
	font-size: 20px;
	background-color: #9477af;
}